# export BUNDLE_GEM__FURY__IO from your ~/.bash_profile
# prior to nvm configuration
# run `. ./bin/yarn-config` to setup

# npm registry settings
@trailhead:registry=https://npm.fury.io/trailhead/

//npm.fury.io/trailhead/:_authToken=${BUNDLE_GEM__FURY__IO}

registry=https://npm-proxy.fury.io/trailhead/

always-auth=true

//npm.fury.io/trailhead/:_authToken=${BUNDLE_GEM__FURY__IO}

//npm-proxy.fury.io/trailhead/:_authToken=${BUNDLE_GEM__FURY__IO}
